@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";


*{
   font-family: "Outfit", sans-serif;
}